@import "tailwindcss";
@plugin "daisyui";



@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine 10s linear infinite;
  background-size: 200% 100%;
}